name: template

x-standard-healthcheck: &standard-healthcheck
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:8000/health"] # 8000 because healthcheck is performed within the container
    interval: 5m
    start_interval: 1s
    start_period: 30s
    timeout: 5s
    retries: 5

services:
  main-agent:
    container_name: main-agent-api
    build: ./apis/main-agent
    ports:
      - "8001:8000"
    environment:
      - PYTHONUNBUFFERED=1
    <<: *standard-healthcheck
    networks:
      - chatbot-network
  gmail-poller:
    container_name: gmail-poller-interface
    build: ./interfaces/gmail-poller
    environment:
      - MAIN_AGENT_API_EMAIL_URL=${MAIN_AGENT_API_EMAIL_URL}
      - POLL_INTERVAL=${POLL_INTERVAL}
      - PYTHONUNBUFFERED=1
    depends_on:
      main-agent:
        condition: service_healthy
    networks:
      - chatbot-network

networks:
  chatbot-network:
    driver: bridge